body{
  font-family: "Raleway", Oleo Script;
  font-family: "Roboto";
}
.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19px;
  letter-spacing: 0.03em;
  text-decoration: initial;
  color: black;
}
.look {
  list-style: none;
}
.logo-web {
  font-family: 'Raleway', Oleo Script;
  color: #2196f3;
}
.tel-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: initial;
  color: #757575;
}

.button-header,
.header-button {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: initial;
  cursor: pointer;
  color: #212121;
}

.header-button:hover,
.header-button:focus {
  color: #2196f3;
}

.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-decoration: initial;
  cursor: pointer;
  color: #212121;
}

.btn:hover,
.btn:focus {
  color: white;
  background: #2196f3;
}
.container {
}

.img {
  background: url(portfolio1.jpg);
}

.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  text-decoration: initial;
  color: #212121;
}
.job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;
  text-decoration: initial;
  color: #757575;
}
.link {
  text-decoration: initial;
}

.dark {
  background: #000000;
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: white;
  text-decoration: initial;
}

.footer-button {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: initial;
  cursor: pointer;
}

.footer-button:hover,
.footer-button:focus {
  color: #ffffff;
}
