body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
.look {
  list-style: none;
}
.logo-web {
  color: blue;
}

.header-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: initial;
  cursor: pointer;
  color: black;
  color: #212121;
}

.header-button:hover,
.header-button:focus {
  color: blue;

  
}

.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-decoration: initial;
  cursor: pointer;
  color: #212121;
}


.btn:hover,
.btn:focus {
  color: white;
  background-color: blue;
 
}
.container {
}

.img {
  background: url(portfolio1.jpg);
}

.name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;
}
.job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: #757575;
}

.dark {
  background: #000000;
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: white;
  text-decoration: initial;
}

.footer-button {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: initial;
  cursor: pointer;
}
